<nav class="navbar fixed-top navbar-light" style="background-color:#7e8082;">
    <span class="navbar-brand"><small>{{admDshHm.type}}</small> {{admDshHm.uname}}</span>        
    <div class="white-fonts" >
        <a class="pointer nav-links"  href="">New Test</a>|
        <a class="pointer  nav-links" href="#!dashboard">History</a> |
        <a class="context-menu nav-links" ng-show="admDshHm.type=='admin'" href="#!admin-home-dashboard">Question Banks</a>      
        
    </div>
    <button class="btn btn-outline-dark" type="button" ng-click="admDshHm.logout()">Logout</button>
</nav>

<div class="container-dashboard100 m-t-10">
    <div class="wrap-dashboard100 p-l-55 p-r-55 p-t-65 p-b-50 m-b-10"  >
        <div class="table-responsive">
            <table  class="table table-bordered" style="max-width: 400px;">
                <th>
                    <th>#</th>                            
                    <th>Question Bank</th>
                    <th>Description</th>                   
                    
                </th>
                <tr ng-repeat="qbank in  admDshHm.QBankList">
                    <td></td>
                    <td>{{$index+1}}</td>
                    <td> <a href="">{{qbank}}</a> </td>
                    <td></td>

                </tr>
            </table>
        </div>
    </div>
</div>
